
html, body, #root {
    height: 100%;
}
.main {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .logo {
        background-image: url("assets/logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 300px;
        height: 100px;
    }
    pre {
        margin-top:20px;
        background-color: azure;
        padding: 20px;
    }
}
